.header_title {
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    padding: 0 20px;
    background: #fff;
}

.card_title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bolder;
}

.tree_content {
    font-weight: bolder;
}

.content_float {
    margin: 10px 10px;
    padding: 20px;
    background: #fff;
    width: 48%;
    float: left;
    min-height: 600px;
}

.tree_node_icon {
    position: absolute;
    left: 200px;
}
.content {
    margin: 10px 20px;
    padding: 20px;
    background: #fff;
}
.search {
    margin: 15px 0;
}
.button_search {
    margin-right: 10px;
}
.department_button {
    margin-left: 10px;
}
.button_add {
    float: right;
    width: 150px;
    font-weight: bold;
}
.input_search {
    width: 400px;
    margin-right: 10px;
}
